.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  form {
    width: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .uiForm {
    display: flex;
    flex-direction: column;
  }
  
  .errorMsg {
    color: red;
  }
  
  .formField {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .loginButton {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .submitButton, .clearButton {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submitButton {
    background-color: #007BFF;
    color: white;
  }
  
  .clearButton {
    background-color: #6c757d;
    color: white;
  }
  